<div class="wrapper">
  <div class="icon-close">
      <button class="btn" (click)="cerrar_modal()">
          <i class="bi bi-x-lg"></i>
      </button>
  </div>
  <div class="body-modal">
      <h1 class="title-modal">Eliminar {{rol}}</h1>
      <span class="descripcion">Estás a punto de eliminar este {{rol}}. Una vez que lo elimines no podrás deshacer esta acción.</span>
      <div class="buttons-modal">
          <button mat-button class="btn-regresar" (click)="cerrar_modal()">
              Cancelar
          </button>
          <button mat-button class="btn-eliminar" (click)="eliminarUser()">
              Eliminar
          </button>
      </div>
  </div>
</div>
